venv/
__pycache__/
.env
.terraform/
*.tfstate
*.tfstate.*

# Terraform lock info (optional but recommended to keep)
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Crash logs
crash.log
crash.*.log